{{ $email := promptString "Enter GitHub mail for this machine" }}

{{ $lite := promptBool "Do you want a minimal (lite) setup (y/n)" }}
{{ $gui := false }}
{{ if not $lite }}
{{ $gui = promptBool "Install GUI tools (y/n)" }}
{{ end }}

[data]
email = '{{ $email | quote }}'
lite = {{ $lite }}
gui = {{ $gui }}
