{{ $email := promptString "Enter GitHub mail for this machine" }}

{{ $lite := promptBool "Do you want a minimal (lite) setup?" }}
{{ $gui := ternary false (promptBool (printf "Install GUI tools?")) $lite }}

[data]
email = '{{ $email | quote }}'
lite = {{ $lite }}
gui = {{ $gui }}
