{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

# vim -c PlugUpdate -c qa
# vim -c PlugInstall 'kaicataldo/material.vim' -c qa
vim -E -s -c 'PlugUpdate' -c 'qa!'
vim -E -s -c 'PlugInstall kaicataldo/material.vim' -c 'qa!'
echo "Installed material theme for vim"

{{ end -}}