{{ if (eq .chezmoi.os "darwin") -}}

#!/bin/bash

# Set to catch non-zero exit status errors, variable errors or pipeline
# failures.
set -euo pipefail

sudo apt-get update

packages=(
    bat
    fasd
    fzf
    git
    htop
    jq
    libffi-dev
    pipx
    python3
    python3-pip
    tmux
    unzip
    vim
    wget
    zsh
)

## pyenv + pyenv-virtualenv
## Snippet inspired and taken from
# https://github.com/tordks/.dotfiles/blob/master/install_pyenv.sh
# See https://github.com/pyenv/pyenv-virtualenv/issues/233
if ! type -p pyenv >/dev/null 2>&1
then
    curl https://pyenv.run | bash
    # See https://github.com/pyenv/pyenv/wiki#suggested-build-environment
    # in case the build fails.
    sudo apt-get install libssl-dev
    $HOME/.pyenv/bin/pyenv install 3.9.9
    $HOME/.pyenv/bin/pyenv global 3.9.9
    echo "Installed pyenv and pyenv-virtualenv"
fi

# START WITH BREW
# THEN INSTALL DEPENDENCIES!
# Install:
# - bat
# - pyenv pyenv-virtualenv
# - zsh
# - ohmyzsh
# - vim
# - vim pluginmanager
# - lsd

## Brew
if ! type -p brew >/dev/null 2>&1
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "Installed Brew"
fi


echo "\n\n\n\n\n\n\n\n====== OSX SETUP NOT COMPLETED ======\n\n\n\n\n\n\n\n"

{{ end -}}