{{ if and (not .lite) (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "rocky"))) -}}
#!/bin/bash
{{ includeTemplate "login-shell.sh" . }}
configure_login_shell
{{ end -}}
