{{ if (eq .chezmoi.os "darwin") -}}

#!/bin/bash

# Set to catch non-zero exit status errors, variable errors or pipeline
# failures.
set -euo pipefail

# Starts by installing basic developer tools for OSX
xcode-select --install

packages=(
    bat
    fasd
    fzf
    git
    htop
    jq
    lsd
    pipx
    pyenv
    pyenv-virtualenv
    tmux
    unzip
    vim
    wget
    zsh
    # # Required by Brew
    # openssl
    # readline
    # sqlite3
    # xz
    # zlib
)

## Brew
if ! type -p brew >/dev/null 2>&1
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "Installed Brew"
fi

## Verifying Brew install
brew doctor

for pkg in ${packages[@]}
do
    sudo brew install -y $pkg
done

## Once again, verifying Brew install
brew doctor

## Finalizes the pyenv installation
pyenv install 3.9.11
pyenv install 3.10.3
pyenv global 3.9.11

# fzf installation completion
$(brew --prefix)/opt/fzf/install

# START WITH BREW
# THEN INSTALL DEPENDENCIES!
# Install:
# - bat
# - pyenv pyenv-virtualenv
# - zsh
# - ohmyzsh
# - vim
# - vim pluginmanager
# - lsd


echo "\n\n\n\n\n\n\n\n====== OSX SETUP NOT COMPLETED ======\n\n\n\n\n\n\n\n"

{{ end -}}
