{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Set to catch non-zero exit status errors, variable errors or pipeline
# failures.
set -euo pipefail

if ! type -p xcodebuild >/dev/null 2>&1
then
    # Starts by installing basic developer tools for OSX
    xcode-select --install
fi

packages=(
    bat
    fd
    fzf
    git
    htop
    jq
    lsd
    node  # Needed by LSP
    pipx
    pyenv
    pyenv-virtualenv
    tmux
    unzip
    # vim # Should already be installed
    wget
    zsh
    # # Required by Brew
    # openssl
    # readline
    # sqlite3
    # xz
    # zlib
)

## Brew
if ! type -p brew >/dev/null 2>&1
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "Installed Brew"
else
    echo "Brew is already installed"
fi

for pkg in ${packages[@]}
do
    brew install $pkg
done

echo "Packages installed"

python_global_3_9="3.9.13"
python_global_3_10="3.10.5"

if type -p pyenv >/dev/null 2>&1
then
    echo "pyenv exists: proceeding to check if global python is set to $python_global_3_9"
    if ! pyenv which python | grep -q $python_global_3_9
    then
        echo "Setting up pyenv globals"
        pyenv install $python_global_3_9
        pyenv install $python_global_3_10
        pyenv global $python_global_3_9
    else
        echo "Global Python is already set to $python_global_3_9"
    fi
fi

## fzf installation completion
$(brew --prefix)/opt/fzf/install

## vim plugin manager
if [ ! -d "${HOME}/.vim/autoload/plug.vim" ]
then
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    echo "vim plugin manager installed"
else
    echo "vim plugin manager already installed"
fi

## VSCode installation
if [ ! type -p code >/dev/null 2>&1 ]
then
    brew install --cask visual-studio-code
    echo "VSCode installed."
else
    echo "VSCode already installed"
fi

vscode_extensions=(
    eamodio.gitlens
    ms-python.python
    ms-python.vscode-pylance
    ms-toolsai.vscode-jupyter-cell-tags
    ms-toolsai.vscode-jupyter-slideshow
    ms-vscode-remote.remote-containers
    ms-vscode.cmake-tools
    ms-vscode.cpptools
    ms-vscode.cpptools-extension-pack
    ms-vscode.cpptools-themes
    sashaweiss.block-travel
    streetsidesoftware.code-spell-checker
    twxs.cmake
    xaver.clang-format

)

installed_extensions=$(code --list-extensions)
for extension in ${vscode_extensions[@]}
do
    if ! echo $installed_extensions | grep -q $extension
    then
        code --install-extension $extension
        echo "Installed $extension"
    else
        echo "VSCode extension $extension found"
    fi
done

{{ end -}}
