{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/usr/bin/env bash

# Set to catch non-zero exit status errors, variable errors or pipeline 
# failures.
set -euo pipefail

apt-get update

packages=(
    curl
    fasd
    git
    htop
    jq
    python3
    python3-pip
    tmux
    wget
    zsh
)

sudo apt install -y $packages

## Oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
echo "ohmyzsh installed"

## Oh-my-zsh plugins
git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
echo "zsh-syntax-highlighting downloaded"

git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
echo "zsh-autosuggestions downloaded"

## tmux plugins
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
echo "tmux plugin manager installed"

## vim plugin manager
curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
echo "vim plugin manager installed"

## install lsd

## install fzf
if [ ! type -p fzf >/dev/null 2&1 ]
then
    git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
    ~/.fzf/install
fi

## pipx
if [ ! type -p tmux >/dev/null 2&1 ]
then
    sudo /usr/bin/python3 -m pip install pipx
fi

## pyenv + pyenv-virtualenv
## Snippet inspired and taken from
# https://github.com/tordks/.dotfiles/blob/master/install_pyenv.sh
if [ ! type -p pyenv >/dev/null 2&1 ]
then
    curl https://pyenv.run | bash
    sudo apt-get install libffi-dev
    pyenv install 3.8.6
    pyenv global 3.8.6
    git clone https://github.com/pyenv/pyenv-virtualenv.git $(pyenv root)/plugins/pyenv-virtualenv
fi

{{ end -}}
echo "Linux flavour $OSTYPE not recognized."
{{ end -}}