{
    "workbench.colorTheme": "Default Dark+",
    "security.workspace.trust.untrustedFiles": "open",
    "python.linting.flake8Enabled": true,
    "python.linting.flake8Path": "{{ .chezmoi.homeDir }}/.local/bin/flake8",
    "python.linting.flake8Args": [
        "--max-line-length",
        "79",
        "--exclude",
        "__pycache__",
        ".pyc",
        ".git",
        "--select",
        "E",
        "F",
        "W",
        "C90",
        "--extend-ignore",
        "E203",
        "W503"
    ],
    "python.linting.mypyEnabled": true,
    "python.linting.mypyPath": "{{ .chezmoi.homeDir }}/.local/bin/mypy",
    "python.linting.enabled": true,
    "python.linting.lintOnSave": true,
    "python.analysis.diagnosticSeverityOverrides": {
        "reportMissingImports": "none",
        "reportMissingModuleSource": "none"
    },
    "editor.formatOnSave": true,
    "python.formatting.provider": "black",
    "python.formatting.blackPath": "{{ .chezmoi.homeDir }}.local/bin/black",
    "python.formatting.blackArgs": [
        "-l 79"
    ],
    "gitlens.defaultTimeFormat": "HH:mm",
    "clang-format.style": "file",
    "editor.minimap.enabled": false,
    // Ubuntu: disables the Ctrl+Alt focus
    "window.titleBarStyle": "custom",
    "window.customMenuBarAltFocus": false,
    "cmake.configureOnOpen": true,
    "[cpp]": {
        "editor.defaultFormatter": "xaver.clang-format"
    },
    "explorer.confirmDragAndDrop": false,
    "[python]": {
        "editor.formatOnType": true
    },
    "explorer.confirmDelete": false,
    "gitlens.hovers.currentLine.over": "line",
    "gitlens.codeLens.enabled": true,
}